@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Roboto&family=Sniglet:wght@400;800&display=swap');

img{
	margin-left: 450px;
	margin-top: 30px;
	border-style: double;
	border-color: hotpink;
}

li{
  display: block;
  text-align: right;
  padding: 14px 16px;
  background-color: pink;
}
li a:hover {
  background-color: lightgreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: montserrat;
}

h1{
	text-align: center;
	font-family: montserrat;
	color: black;
}


h3{
	text-align: center;
}

a{
	text-decoration: red;


}




