@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Sniglet:wght@400;800&display=swap');

img{
	display: block;
  	margin-left: auto;
	margin-right: auto;
	border-style: double;
	border-color: hotpink;
}

li{
  display: block;
  float: left;
  text-align: center;
  padding: 14px 16px;
  background-color: pink;
  text-decoration: none;
}
li a:hover {
  background-color: orange;
}

.menu{
  background-color: pink;
  overflow: hidden;
}
.menu a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sniglet;
  color: black;
}

body{
}

h1{
	text-align: center;
	color: white;
	font-family: sniglet;

	font-size: 250px;
}



h3{
	text-align: center;
	font-family: sniglet; weight; 400;
	font-size: 100px;
	color: white;
}

a{
	text-decoration: red;


}




